<% if user_signed_in? %>
    <div class="navbar d-flex container mt-2">
      <%= link_to goals_path do %>
      <span style="font-size: 2em; color: white;">
        <i class="fa-solid fa-clock-rotate-left"></i>
      </span>
      <%end%>
      <%= link_to edit_avatar_path(current_user.avatar.id) do %>
      <span style="font-size: 2em; color: white;">
        <i class="fa-solid fa-user"></i>
      </span>
      <%end%>
       <%= link_to dashboard_path do %>
      <span style="font-size: 2em; color: white;">
        <i class="fa-solid fa-chart-simple"></i>
      </span>
      <%end%>
       <%= link_to home_path do %>
      <span style="font-size: 2em; color: white;">
      <i class="fa-solid fa-house"></i>
      </span>
      <%end%>
    </div>
<% end %>
