<div data-controller = "popup" class="popup">
  <%# <%= image_tag "pop_up/achievement.png" %>
  <button class= btn btn-primary data-action = "click->popup#close">Close</button>
  <%= link_to shop_path do %>
    <div>
      <%= image_tag "pop_up/30_day_streak.gif" %>
    </div>
  <% end %>
</div>
