<div class="modal fade" id="category-option-<%= category %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Select an option</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <%# <div data-avatar-options-target="form"></div> %>
          <%= render 'avatars/purchase_form', category: category %>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
