<div class="block-color d-flex mb-3">
  <h3>Shop</h3>
</div>
<p>My coins</p>
<div class="container d-flex justify-content-center align-items-center">
<div class="point-bar">
    <%= image_tag 'coins/coin.png', class: "coin-icon"%>
    <%# placeholder text below, can interpolate %>
    <p>1000</p>
</div>
</div>

<div class="shop-grid mt-5">
  <div class="shop-card-option">
    <p>Tops</p>
  </div>
   <div class="shop-card-option">
    <p>Bottoms</p>
  </div>
   <div class="shop-card-option">
    <p>Hair</p>
  </div>
   <div class="shop-card-option">
    <p>Shoes/
    Accessories</p>
  </div>
</div>
