<div class="block-color d-flex mb-3">
  <h3>Shop</h3>
</div>
<p>My coins</p>
<div class="container d-flex justify-content-center align-items-center">
  <div class="point-bar">
    <%= image_tag 'coins/coin.png', class: "coin-icon"%>
    <%# placeholder text below, can interpolate %>
    <p>1000</p>
  </div>
</div>
<div class="shop-grid mt-5">
  <% @categories.each do |category| %>
    <div class="shop-card-option">
      <button type="button" class="btn bg-transparent" style="width: 100%; height: 100%" data-bs-toggle="modal" data-bs-target="#category-option-<%= category%>" >
        <p><%= category %></p>
      </button>
      <%= render "avatars/purchase_modal", category: category %>
    </div>
  <% end %>
</div>
