.avatar-card {
  height: 476px;
  width: 290px;
  display: flex;
  justify-content: center;
  position: relative;
}

.avatar-hair {
  width: 110%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -1%;
}


.avatar-accessories {
  width: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
  bottom: -1%;
}

.avatar-expression {
  width: 110%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -1%;
}

.avatar-shoes {
  width: 110%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -1%;
}

.avatar-skin-color {
  width: 110%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -1%;
}

.avatar-pants {
  width: 110%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -1%;
}

.avatar-shirt {
  width: 110%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -1%;
}

.avatar-grid {
  display: grid;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
  top: -73px;
  left: 76px;
  background-color: #FDF5D0;
  border: 4px solid #EFB622;
  border-radius: 15px;
  height: 190px;
  width: 270px;
  justify-content: center;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  gap: 5px;
}

.avatar-option-card {
  height: 70px;
  width: 70px;
  background-color: white;
  border-radius: 10px;
  border: 4px solid #EFB622;
  gap: 5px;

  .img-card {
    overflow: hidden;
  }
}

.avatar-edit {
  position: relative;
  flex-grow: 1;
}

.avatar-hair-op {
  width: 80%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 15%;
}


.avatar-accessories-op {
  width: 80%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 15%;
  z-index: 99
}

.avatar-expression-op {
  width: 80%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 27.5%;
  z-index: 99;

}

.avatar-shoes-op {
  width: 80%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 15%;
}

.avatar-skin-color-op {
  width: 80%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 15%;
}

.avatar-pants-op {
  width: 80%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 15%;
}

.avatar-shirt-op {
  width: 80%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 15%;
}

.avatar-landing-full {
  width: 70%;
  position: absolute;
  transform: translatey(-5%);
}
