
.avatar-card {
  height: 480px;
  width: 300px;
  display: flex;
  justify-content: center;
  position: relative;
}

.avatar-hair {
  width: 100%;
  position: absolute;
}

.avatar-shoes {
  width: 100%;
  position: absolute;
}

.avatar-skin-color {
  width: 100%;
  position: absolute;
}

.avatar-pants {
  width: 100%;
  position: absolute;
}

.avatar-shirt {
  width: 100%;
  position: absolute;
}
