.landing-pg-bg {
  height: 100vh;
  background-color: #A6E1DA;
}

.avatar-edit-bg {
  height: 100vh;
  padding-bottom: 120px;
  display: flex;
  flex-direction: column;
  background-color: #FDF5D0;
}
