// .hp-bar {
//   height: 30px;
//   background-color: gray;
// }

.health-bar {
  width: 90%;
}

.point-bar {
  height: 40px;
  width: 110px;
  display: flex;
  align-items: center;
  position: relative;
  background-color: #FDF5D0;
  border: 3px solid #FFE143;
  border-radius: 20px;
    p {
      right: 30px;
      position: absolute;
      margin: 0;
    }
}

.hp-bar-frame {
  display: flex;
  justify-content: center;
}
