// .hp-bar {
//   height: 30px;
//   background-color: gray;
// }

.point-bar {
  height: 40px;
  width: 110px;
  display: flex;
  align-items: center;
  position: relative;
  background-color: #FDF5D0;
  border: 3px solid #FFE143;
  border-radius: 20px;

  p {
    right: 30px;
    position: absolute;
    margin: 0;
  }
}

.hp-bar-frame {
  display: flex;
  justify-content: center;
}


.hp-bar-outline {
  height: 31px;
  width: 205px;
  border-radius: 15px;
}

.hp-bar-inner {
  height: 23px;
  border-radius: 15px;
}

.hp-bar-dashboard-outline {
  height: 31px;
  width: 68%;
  margin-left: 18%;
}

.hp-bar-dashboard-inner {
  height: 23px;
  left: 35%;
}
