.block-color {
  background-color: #38C6C2;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-bottom: 6px solid #008C9B;
  position: relative;
}

.speech-bubble {
  width: 100px;
  height: 100px;

  position: absolute;
  top: 150px;
}

.space {
  height: 130px;
}


.edit-page-text-container {
  position: absolute;
  top: 53%;
  left: 9%;
}
