.image-radio {
  display: none;
}

label {
  display: inline-block;
  cursor: pointer;
}

.image-radio:checked + img {
  border: 3px solid #38c6c2;
  border-radius: 5px;
}

.submission-form {
  position: absolute;
  display: flex;
  background-color: #fdf5d0;
  z-index: 99;
  border-radius: 5px;
  padding: 10px;
  width: 250px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  top: 25%;
  margin-top: 10px;
  box-shadow: 0px 2px 8px #a6e1da;
  .button-yes {
    background-color: #38c6c2;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: white;
  }

  .button-no {
    background-color: #38c6c2;
    border: none;
    border-radius: 5px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: white;
  }
}

.form-check {
  input{
    border: 3px solid #008C9B;
    width: 30px;
    height: 30px;
    margin-bottom: 0;
    padding-right: 25px;
  }
}

.achieved {
  background-color: #008C9B;
  width: 100%;
  height: 66px;
  padding-top: 20px;
  border-radius: 10px;
  padding-left: 25px;
  display: flex;
  justify-content: space-between;

    #check {
      padding-right: 25px;
      padding-top: 10px;
    }
  }

.reminder-submission-form {
  position: absolute;
  display: flex;
  background-color: #fdf5d0;
  z-index: 99;
  border-radius: 5px;
  padding: 10px;
  width: 290px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  top: 25%;
  margin-top: 10px;
  box-shadow: 0px 2px 8px #a6e1da;

  .clock {
    width: 200px;
  }

  .button-yes {
    background-color: #38c6c2;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    margin-left:10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: white;
  }
  .button-no {
    background-color: #38c6c2;
    border: none;
    border-radius: 5px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: white;
  }
}
