.food-icon {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.sleep-icon {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.exercise-icon {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.routine-icons {
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  z-index: 95;
}

.coin-icon {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 10px;
}

.setting-icon {
  position: absolute;
  bottom: 15%;
}

#setting {
  left: 77%;
  transform: translateX(100%);
}

#shop {
  right: 85%;
}
