.food-icon {
  background-color: #A6E1DA;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 5px solid #008C9B;
}

.sleep-icon {
  background-color: #A6E1DA;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 5px solid #008C9B;
}

.exercise-icon {
  background-color: #A6E1DA;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 5px solid #008C9B;
}

.routine-icons {
  display: flex;
  justify-content: space-evenly;
}

.coin-icon {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 10px;
}

.setting-icon {
  position: absolute;
  left: 80%;
  transform: translateX(100%);
  bottom: 15%;
}
