.popup {
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 103vw;
  height: 108vh;
  z-index: 999999;
  padding-top: 55%;
  background-color: rgba(	0,0,0,0.7 );
  img {
    width: 100%;
  }
  button {
    padding-top: 30%;
    float: right;
    color: white;
    font-size: large;
    position: absolute;
    left: 80%;
  }
}

.coin50 img{
  position: absolute;
  height: 699px;
  z-index: 99;
  left: -64px;
  bottom: 69px;
}

.bubble-home img{
  height: 140px;
  top: -43px;
  right: 199px;
  position: absolute;
  z-index: 999;
}

.bubble-edit img{
  height: 140px;
  top: 174px;
  right: 270px;
  position: absolute;
  z-index: 999;
}
