.progress-circle-food {
  height: 85px;
  width: 85px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background:
    radial-gradient(closest-side, white 79%, transparent 80% 100%),
    conic-gradient(#38C6C2 95%, #A6E1DA 0);
}

.progress-circle-sleep {
  height: 85px;
  width: 85px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background:
    radial-gradient(closest-side, white 79%, transparent 80% 100%),
    conic-gradient(#F6DE68 60%, #FDF5D0 0);
}

.progress-circle-exercise {
  height: 85px;
  width: 85px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background:
    radial-gradient(closest-side, white 79%, transparent 80% 100%),
    conic-gradient(#FF6073 30%, #FFB5BE 0);
}


.goal-bar-frame {
  display: flex;
  justify-content: center;
}


.goal-bar-outline {
  border: 3px solid gray;
  height: 20px;
  width: 160px;
  border-radius: 20px;
}

.goal-bar-inner {
  height: 18px;
  border-radius: 20px;
}
