<div class="block-color d-flex mb-1">
  <h3>Tasks</h3>
</div>
<%= render "task_form" %>
<% if !@goals.empty? %>
  <ul class="list-group" data-controller="tasks">
    <%= render "submissions/submission_task_form", goals: @goals,  submission: @submission%>
  </ul>
<% else %>
  <p>No tasks here yet! Create one!</p>
<% end %>
