<div class="block-color d-flex mb-1">
  <h3>Tasks</h3>
</div>
<% if !@goals.empty? %>
  <ul class="list-group">
    <% @goals.each do |goal| %>
      <li class="list-group-item">
        <%= simple_form_for [goal, @submission] ,html: { data: { controller: "checkbox" } } do |f| %>
          <%= f.input :achieved, as: :check_boxes, collection: [[goal.name, goal.id]], label: false, input_html: { class: "form-check-input me-1 checkbox", id: goal.name.gsub(" ", "-"), data: { target: "checkbox.checkbox" } } %>
        </li>
      <% end %>
    <% end %>
  </ul>
<% else %>
  <p>No tasks here yet! Create one!</p>
<% end %>
